* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fondo.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain; 
    margin: 10px 10px;
}

h1 {
    color: white;
    font-family: "calibry";
    text-align: center;
    background-color: #2C2220;
    margin: auto;
    width: 500px;  
    padding: 20px;  
        
}

.codigo-secreto {
    width: 500px;
    text-align: center;
    background: #2C2220;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
    font-family: "calibri";
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 7px 13px 37px #000;
}

.codigo-secreto .botons {
    width: 100%;
    background: #DBBA06;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.codigo-secreto .texto {
    width: 100%;
    height: 60px;
    background:wheat;

}

.codigo-secreto .cantidad {
    width: 70%;
    background:wheat;

}
